<div class="comment">
  <div id="comment" class="cloud-tie-wrapper">
    <script src="//cdn1.lncld.net/static/js/3.5.0/av-min.js"></script>
    <script src="//unpkg.com/valine@1.1.9-beta3/dist/Valine.min.js"></script>
    <script type="text/javascript">
      new Valine({
        // Valine 的初始化挂载器。可以是一个 CSS 选择器，也可以是一个实际的 HTML元素。
        el: '#comment' ,  
        notify:false, 
        verify:false, 
        appId: '<%=theme.valine_appid%>',
        appKey: '<%=theme.valine_appKey%>',
        // 评论框占位符
        placeholder: '看了这么久，你不想说两句吗？',  
        // 当前文章页路径，用于区分不同的文章页，以保证正确读取该文章页下的评论列表
        path:window.location.pathname,  
        // 默认头像类型
        avatar:'monsterid',
        // 每页展示评论条数
        pageSize: 10
      });
    </script>
  </div>
</div>